.App {
  text-align: center;
	margin-top: 20px;
}

ul {
	list-style: none;
	font-size: 20px;
}

.delete {
	color: red;
	margin-left: 10px;
	cursor: pointer
}

.text {
	color: blue;
	margin-left: 10px;
}

.done {
	color: blue;
	margin-left: 10px;
	text-decoration: line-through;
}